{{- if (not (eq (getenv "LDAP_SYNCREPL") "")) }}
{{- if (not (eq (toUpper (getenv "LDAP_SYNCREPL")) "FALSE")) }}
{{- if (not (eq (toUpper (getenv "LDAP_SYNCREPL")) "NONE")) }}

dn: olcDatabase={1}{{ getenv "LDAP_BACKEND" }},cn=config
changetype: modify
add: olcDbIndex
olcDbIndex: entryCSN eq
-
add: olcDbIndex
olcDbIndex: entryUUID eq

dn: cn=module{0},cn=config
changetype: modify
add: olcModuleLoad
olcModuleLoad: syncprov

dn: olcOverlay={2}syncprov,olcDatabase={1}{{ getenv "LDAP_BACKEND" }},cn=config
objectClass: olcOverlayConfig
objectClass: olcSyncProvConfig
olcOverlay: {2}syncprov
olcSpCheckpoint: 100 10
olcSpSessionLog: 100

{{- end }}
{{- end }}
{{- end }}
