# https://github.com/osixia/docker-openldap/issues/208
# https://github.com/osixia/docker-openldap/issues/48
# https://help.univention.com/t/ucs-and-security-hardening/6059
# https://serverfault.com/questions/571928/how-do-you-set-password-hash-for-openldap
# https://www.openldap.org/lists/openldap-technical/201608/msg00078.html
# https://www.redpill-linpro.com/techblog/2016/08/16/ldap-password-hash.html

# LDAP_HASH_PASSWORD:
#   - NONE
#   - SSHA
#   - MD5
#   - CRYPT
#   - MD5CRYPT
#   - SHA256CRYPT
#   - SHA512CRYPT

<% "$( ([ "$LDAP_HASH_PASSWORD" = "" ] || [ "$LDAP_HASH_PASSWORD" = "0" ] || [ "$LDAP_HASH_PASSWORD" = "NONE" ]) && true || echo \
"dn: cn=module{0},cn=config
changetype: modify
add: olcModuleLoad
olcModuleLoad: ppolicy

dn: cn=config
changetype: modify
replace: olcPasswordHash
olcPasswordHash: {$([ "$LDAP_HASH_PASSWORD" = "SSHA" ] && echo "SSHA" || \
  echo $([ "$LDAP_HASH_PASSWORD" = "MD5" ] && echo "MD5" || \
  echo "CRYPT"))}
$([ "$LDAP_HASH_PASSWORD" = "SHA256CRYPT" ] && echo \
"-
replace: olcPasswordCryptSaltFormat
olcPasswordCryptSaltFormat: \$5\$%.16s" || echo "$([ "$LDAP_HASH_PASSWORD" = "SHA512CRYPT" ] && echo \
"-
replace: olcPasswordCryptSaltFormat
olcPasswordCryptSaltFormat: \$6\$%.16s" || echo "$([ "$LDAP_HASH_PASSWORD" = "MD5CRYPT" ] && echo \
"-
replace: olcPasswordCryptSaltFormat
olcPasswordCryptSaltFormat: \$1\$%.8s" || true)")")

dn: olcDatabase={-1}frontend,cn=config
changetype: modify
replace: olcPasswordHash
olcPasswordHash: {$([ "$LDAP_HASH_PASSWORD" = "SSHA" ] && echo "SSHA" || \
  echo $([ "$LDAP_HASH_PASSWORD" = "MD5" ] && echo "MD5" || \
  echo "CRYPT"))}

dn: olcOverlay=ppolicy,olcDatabase={2}mdb,cn=config
changetype: add
objectClass: top
objectClass: olcOverlayConfig
objectClass: olcPPolicyConfig
olcOverlay: ppolicy
olcPPolicyHashCleartext: TRUE
olcPPolicyDefault: cn=default,ou=ppolicy,${LDAP_ROOT}

dn: ou=ppolicy,${LDAP_ROOT}
changetype: add
objectClass: top
objectclass: organizationalUnit
ou: ppolicy

dn: cn=default,ou=ppolicy,${LDAP_ROOT}
changetype: add
objectClass: top
objectClass: device
objectClass: pwdPolicy
cn: default
pwdAllowUserChange: TRUE
pwdAttribute: 2.5.4.35
pwdCheckQuality: 0
pwdExpireWarning: 3600
pwdFailureCountInterval: 0
pwdGraceAuthNLimit: 0
pwdInHistory: 0
pwdLockout: TRUE
pwdLockoutDuration: 3600
pwdMaxAge: 0
pwdMaxFailure: 5
pwdMinLength: 6
pwdMustChange: FALSE
pwdSafeModify: FALSE")" %>
