# https://github.com/opinsys/smbkrb5pwd

<% "$( ([ "$LDAP_SMBKRB5PWD" = "" ] || [ "$LDAP_SMBKRB5PWD" = "0" ]) && true || echo \
"dn: cn=module{0},cn=config
changetype: modify
add: olcModuleLoad
olcModuleLoad: smbkrb5pwd
# olcModuleLoad: smbkrb5pwd_srv

dn: olcOverlay=smbkrb5pwd,olcDatabase={2}mdb,cn=config
changetype: add
objectClass: top
objectClass: olcOverlayConfig
objectClass: olcSmbKrb5PwdConfig
olcOverlay: smbkrb5pwd
olcSmbKrb5PwdEnable: samba
olcSmbKrb5PwdEnable: krb5
olcSmbKrb5PwdMustChange: 2592012
olcSmbKrb5PwdKrb5Realm: ${KERBEROS_REALM}
olcSmbKrb5PwdRequiredClass: posixAccount")" %>
