<% "$( ([ "$LDAP_SYNCREPL" = "" ] || [ "$LDAP_SYNCREPL" = "0" ]) && true || echo \
"dn: cn=module{0},cn=config
changetype: modify
add: olcModuleLoad
olcModuleLoad: syncprov

dn: olcOverlay={2}syncprov,olcDatabase={2}mdb,cn=config
objectClass: olcOverlayConfig
objectClass: olcSyncProvConfig
olcOverlay: {2}syncprov
olcSpCheckpoint: 100 10
olcSpSessionLog: 100")" %>
