dn: ou=people,<% $LDAP_ROOT %>
objectClass: organizationalUnit
ou: people

dn: cn=bob,ou=people,<% $LDAP_ROOT %>
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
cn: User1
gidNumber: 1000
homeDirectory: /home/bob
sn: Bar1
uid: bob
uidNumber: 1000
userPassword:: cGFzczE=
